* {
  box-sizing: border-box;
}

:root {
  --rock: #f00;
  --paper: #00f;
  --scissors: #ffa500;
  --dark-text: #3b4363;
  --light-bg: #e3e3e3;
  --light-shadow: #ccc;
}

body {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(circle, #1f3756, #141539);
  color: #fff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p {
  margin: 0;
}

button {
  margin: .125em;
  font: inherit;
  cursor: pointer;
  transition: transform 100ms;
}

button:hover {
  transform: scale(1.1);
}
